@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}
.main{
    background-image: url("assets/images/bg.jpg");
    height: 70vh;
    position: relative;
    background-position: center center;
    background-size: max(1200px,100vw);
    background-repeat: no-repeat;
}

.main .box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.6);
}


nav{

    /* background-color: white; */
    width: 60vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 60px;
    align-items: center;
}

nav img{
    width: 110px;
    position: relative;
    z-index: 10;
}

.hero{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 23px;
    padding: 0px 29px;
    position: relative;
    height: calc(100% - 60px);
    
}
.hero > :nth-child(1){
    font-size: 44px;
    font-weight: 800;
    text-align: center;
}

.hero > :nth-child(2){
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.hero > :nth-child(3){
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.separation{
    height: 2px;
    background-color: rgb(54, 52, 52);
}

div>input{
        height: 23px;
    width: 220px;
    background-color: rgb(23, 23, 23, 0.8);
    opacity: 0.85;
    padding: 0px 15px;
    border-radius: 3px;
    font-size: 12px;
    border: 1px solid grey;
    color: white;
}

.btn-red{
    background-color: red;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 12px;
    padding: 0px 10px;
    /* box-sizing: border-box; */
    height: 25px;
    /* opacity: 0.65; */
    cursor: pointer;
}

.btn1{
    cursor: pointer;
    height: 21px;
    width: 63px;
    font-size: 12px;
    background-color: black;
    color: white;
    opacity: 0.79;
    border: none;
}
.btn-red-sm{
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    font-weight: 100;
    font-size: 12px;
    padding: 0px 10px;
    /* box-sizing: border-box; */
    height: 21px;
}

nav , .hero{
    z-index: 10;
    position : relative;
}

.first{
    display: flex;
    justify-content: center;
    width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    margin-top: 15px;
}

.secImg{
    position: relative;
}
.secImg img{
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secImg video{
    position: absolute;
    width: 24vw;
    left: 34px;
    top: 37px;
}

.first > div :first-child{
    font-size: 35px;
    font-weight: bolder;
}

.first > div :nth-child(2){
    font-size: 17px;
}

.first > div{
    display: flex;
    flex-direction: column;
}

.faq{
    background-color: rgb(23, 23, 23);
    color: white;
    padding: 34px;
}

.faq-box{
    background-color: #393737;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    max-width: 60vw;
    margin: 24px auto;
    font-size: 18px;
    cursor: pointer;
}

.faq h2{
    text-align: center;
    font-size: 48px;
}

.faq-box:hover{
    background-color: #746969;
}

.faq-box img{
    filter: invert(1);
}


